<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        차량 사고 부위 사진 안내 #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>1. 사고난 부위를 판별 하기 위해 사진이 1장 필요 합니다.</strong><br> 
        사고난 부위를 판별 하기 위해 차량에서 1M 가량 떨어진 후 사진을 1장 찍어 주시기 바랍니다.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        차량 파손 유형 사진 안내 #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>2. 사고난 차량 파손 유형을 판별 하기 위해 사진이 1장 이상 필요 합니다.</strong><br> 
        사진은 YOLO는 한장 CNN은 상처마다 1장 필요 합니다.
      </div>
    </div>
  </div>
  
</div>