<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>로그인</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body>
  {% include 'navbar.html' %}
  <h1>로그인</h1>
  <form action="/login" method="post">
    <input type="text" name="username" placeholder="여기에 아이디를 입력"><br><br>
    <input type="text" name="userpass" placeholder="여기에 패스워드를 입력"><br><br>
    <input type="submit" value="로그인">
  </form>
  {% if msg %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
          아이디나 패스워드가 틀림.
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  {% endif %}
  </div>
</body>
</html>