<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSS Style</title>
</head>
<body>
    <style>
        .custom-border {
            border: 3px solid rgb(0, 0, 0);
            border-radius: 10px;
            
        }
        .container {
            margin: 40px;
        }
        .model_image {
            width: 300px; /* 원하는 가로 크기로 조정 */
            height: 300px; /* 세로 크기는 자동 조정 */
        }
    </style>
</body>
</html>