<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CNN</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  {% include 'style.html' %}


</head>

<body>
  {% include 'navbar.html' %}
  {% include 'select.html' %}
  <div>
    <div class="container custom-border">
      <span class="badge text-bg-danger custom-center"
        style="font-size: 24px; padding: 8px 12px; margin-top: 10px; margin-bottom: 20px;">
        차량 부위 사진 업로드란
      </span>
      <br>
      <div class="custom-center">
        <div style="margin-right: 40px">
          <span class="badge text-bg-dark" style="font-size: 25px;"> 예시 사진 </span>
          <img src="{{url_for('static', filename='menu/rear_fender_ex.jpg')}} "
            class="img-thumbnail rounded mx-auto d-block custom-image" alt="예시사진" style="height: 300px; width: 300px;">
        </div>
        <div>
          <span class="badge text-bg-dark" style="font-size: 25px;"> 미리 보기 </span>
          <img src="{{ url_for('static', filename='input_images/car_part/part_img/part.jpg') }}"
            class="img-thumbnail rounded mx-auto d-block custom-image" alt="업로드사진" style="height: 300px; width: 300px;">

        </div>

      </div>
      <br>

    </div>
    <div class="container custom-border">
      <span class="badge text-bg-danger custom-center"
        style="font-size: 24px; padding: 8px 12px; margin-top: 10px; margin-bottom: 20px;">
        차량 상처 사진 업로드란
      </span>

      <div class="thumbnail-grid custom-center" id="thumbnails" style="margin-bottom: 20px;"></div>
      <div class="custom-center">
        <form action="/upload_damage_type" method="POST" enctype="multipart/form-data">
          <span class="badge text-bg-primary" style="font-size: 17px;">부위사진</span>
          <input type="file" name="part_img_file" id="partImageInput" onchange="previewPartImage(event)"
            accept="image/*" />

          <span class="badge text-bg-primary" style="font-size: 17px;">상처사진</span>
          <input type="file" name="damage_type_image" id="imageUpload" multiple>

          <button type="submit">업로드</button>
        </form>
      </div>



      <script>
        const imageUpload = document.getElementById('imageUpload');
        const thumbnailsContainer = document.getElementById('thumbnails');

        imageUpload.addEventListener('change', handleImageUpload);
        handleImageUpload();

        function handleImageUpload(event) {
          const files = Array.from(imageUpload.files);
          const maxFiles = 10; // 최대 파일 개수

          if (files.length > maxFiles) {
            alert(`최대 ${maxFiles}개의 파일만 선택할 수 있습니다.`);
            imageUpload.value = ''; // 파일 선택 취소
            return;
          }

          thumbnailsContainer.innerHTML = '';

          const totalSlots = 10; // 썸네일 자리의 총 개수
          const emptySlots = totalSlots - files.length; // 빈 자리의 개수

          files.forEach((file) => {
            const reader = new FileReader();

            reader.onload = function (e) {
              const thumbnail = document.createElement('img');
              thumbnail.src = e.target.result;
              thumbnail.classList.add('thumbnail');
              thumbnailsContainer.appendChild(thumbnail);
            };

            reader.readAsDataURL(file);
          });

          for (let i = 0; i < emptySlots; i++) {
            const placeholder = document.createElement('div');
            placeholder.classList.add('thumbnail', 'placeholder');
            thumbnailsContainer.appendChild(placeholder);
          }
        }

        function previewPartImage(event) {
          const fileInput = event.target;
          const file = fileInput.files[0];
          const imgPreview = document.getElementById("partImagePreview");

          if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
              imgPreview.src = e.target.result;
              imgPreview.style.display = "block";
            }
            reader.readAsDataURL(file);
          } else {
            imgPreview.src = "";
            imgPreview.style.display = "none";
          }
        }

      </script>

    </div>
    <div class="d-flex justify-content-center">
      <a href="/out_put" onclick="addSelectedToUrl()" class="btn custom-button btn-lg custom-button:hover"
        style="width: 50%;">
        가격 알아보러 가기
      </a>
    </div>

    <script>
      function addSelectedToUrl() {
        var selectedCar = document.getElementById("step2").value;
        var selectedYear = document.getElementById("step3").value;
        var selectedColor = document.getElementById("step4").value;

        if (selectedCar && selectedYear && selectedColor) {
          var form = document.createElement("form");
          form.method = "post";
          form.action = "/upfile";

          var selectedCarField = document.createElement("input");
          selectedCarField.type = "hidden";
          selectedCarField.name = "selectedCar";
          selectedCarField.value = selectedCar;
          form.appendChild(selectedCarField);

          var selectedYearField = document.createElement("input");
          selectedYearField.type = "hidden";
          selectedYearField.name = "selectedYear";
          selectedYearField.value = selectedYear;
          form.appendChild(selectedYearField);

          var selectedColorField = document.createElement("input");
          selectedColorField.type = "hidden";
          selectedColorField.name = "selectedColor";
          selectedColorField.value = selectedColor;
          form.appendChild(selectedColorField);

          document.body.appendChild(form);

          form.submit();
          return false; // 이벤트 중단
        }
      }
    </script>



</body>

</html>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>