<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>YOLO</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  {% include 'style.html' %}


</head>

<body>
  {% include 'navbar.html' %}
  <br><br><br>

  <div>
    <div class="container custom-border">
      <span class="badge text-bg-danger custom-center"
        style="font-size: 24px; padding: 8px 12px; margin-top: 10px; margin-bottom: 20px;">
        차량 전체 사진 업로드란
      </span>
      <br>
      <div class="custom-center">
        <div style="margin-right: 40px">
          <h2><span class="badge text-bg-dark"> 예시 사진 </span></h2>

          <img src="{{url_for('static', filename='menu/yolo_img.png')}} "
            class="img-thumbnail rounded mx-auto d-block custom-image" alt="예시사진" style="height: 400px; width: 400px;">
        </div>
        <div>
          <h2><span class="badge text-bg-dark"> 미리 보기 </span></h2>
          <img src="{{url_for('static', filename='input_images/yolo_input/detect.jpg')}} " class="img-thumbnail rounded mx-auto d-block custom-image"
            alt="업로드 사진" style="height: 400px; width: 400px;">
        </div>

      </div>
    </div>
    <form  action="/upload_yolo" method="POST" enctype="multipart/form-data" class="custom-center">
      <span class="badge text-bg-dark" style="font-size: 17px; margin: 10px;"> 파일 선택 </span>
      <input type="file" name="yolo_img_file">
      <span class="badge text-bg-dark" style="font-size: 17px; margin: 10px;"> YOLO </span>
      <button type="submit">업로드</button>
    </form>
      
  </div>


  <div class="d-flex justify-content-center">
    <a href="/yolo_output" class="btn custom-button btn-lg custom-button:hover" style="width: 50%;">
      파손 위치 알아보러 가기
    </a>
  </div>

</body>

</html>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>